html{
    height: 100%;
    width: 100%;
}
html, body{
padding: 0;
margin: 0;
}
.promoBanner{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    color: #fff;              
    text-align: center;
    box-sizing: content-box;
    background: #414141;
    padding: 10px;
    margin: auto;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
}
div {
    position: relative;
    vertical-align: middle;
    text-align: center;      
}
ul li{
    display: inline-block;
    padding: 15px 60px 0px 0px;   
    margin: -4px;
    font-size: 1.3em;
    
    height: 40px;
    text-align: center;          
}
a{
    color: #414042;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #414042;              
    text-align: center;
}
.copy{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    color: #414042;              
    text-align: left;
    margin-bottom: 20px;
    text-align: justify;
}
.div1{
    margin-left: 50px;
    margin-right: 50px;  
}
#dog{
    height: 20vh;
}
.image1{
    margin-right: 10px;
    float: left;
}
#mountain{
    height:20vh
}
.image2{
    margin-left: 10px;
    float: right;
}
#cafe{
    height:20vh
}
.image3{
    margin-right: 10px;
    float: left;
}
#plant{
    height:20vh
}
.image4{
    margin-left: 10px;
    float: right;
}
.footer{
    margin-top: 30px;
    color: #fff;              
    background: #414141;
    padding: 40px;
}
#email{
    border: 2px solid white;
    background-color: #414041;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px;
    font-size: 0.8em;
  }
  #footerButton{
    border: 2px solid white;
    background-color: #414041;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
  }
  #newsletterHeader{
    font-size: 1.9em;
    font-family: serif;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #newsletterCopy{
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
  }
  li:hover {
    font-weight: 900;
  }
  a:hover {
    font-weight: 900;
  }
  



